<div class="form-background">
  <div class="header-width">
    <h1 class="text-center">Showing Task</h1>
    <div class="col-md-12">
      <div class="panel-body">
        <h4 class="text-center task-text">Task Title:</h4> <p class="text-center"><%= @task.title %></p>
        <br>
        <h4 class="task-text">Task Content:</h4> <p><%= raw(markdown(@task.content)) %></p>
        <br>
        <h4 class="text-center task-text">Task State:</h4> <p class="text-center"><%= @task.state %></p>
      </div>
      <br>
    </div>
    <div class="show-buttons">
      <p>
        <%= link_to 'Update Task', tasks_path, class: 'btn btn-primary' %> |
        <%= link_to 'Edit Task', edit_task_path(@task), class: 'btn btn-primary'  %>
      </p>
    </div>
  </div>
</div>


