<!DOCTYPE html>
<html>
  <head>
    <title>Tasky</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Shojumaru" rel="stylesheet">
  </head>

  <body>

    
      <!-- custom notifications -->
      <% if notice %>
        <div id="notice_wrapper">
          <p class="notice"><%= notice %></p>
        </div>
      <% elsif alert %>
        <div id="notice_wrapper">
          <p class="alert"><%= alert %></p>
        </div>
      <% end %>
    <!-- for each flash there will be a name and message displayed to the user. -->
      <%= render 'layouts/navbar' %>
      <% flash.each do |name, msg| %>
        <!-- display message -->
        <% msg %>
      <% end %>
      
      <div class="container-fluid">
        <!-- content of rails app. All other views get rendered here -->
        <%= yield %>
      </div>
  </body>
</html>


